<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <img src="png/logowhite.png" width="110" height="90">
        </div>
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search for products or sevices">
            <button id="search-button">Search</button>
        </div>
        <div class="navbar-right">
            <button class="button-link"><img src="png/profile.png" width="30" height="30" class="pic">Profile</button>
            <button class="button-link"><img src="png/signout.png" width="30" height="30" class="pic">Sign Out</button>
        </div>
    </div>
    <div class="container">
        <div class="menu">
            <button class="button-menu"><img src="png/product.png" width="94" height="94" class="pic">สินค้าทั้งหมด</button>
            <button class="button-menu"><img src="png/listpo.png" width="94" height="94" class="pic">รายการคำสั่งซื้อ</button>
            <button class="button-menu"><img src="png/addproduct.png" width="94" height="94" class="pic">เพิ่มสินค้า</button>
            <button class="button-menu"><img src="png/inoutproduct.png" width="94" height="94" class="pic">ประวัติเพิ่ม/ลด</button>
        </div>
    </div>
</body>
</html>
