<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Midniyompan-shop Application</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<<!-- customer-phone-fragment.html -->
<div th:fragment="customer-phone-fragment">
  <label for="inputPhone">Phone</label>
  <input disabled="disabled" th:value="${}" class="form-control" id="inputPhone" name="phone">
</div>

</body>
</html>
