<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Midniyompan-shop Application</title>
  <link th:rel="stylesheet" th:href="@{/css/customer.css}">
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body sec:authorize="isAuthenticated() and hasRole('ROLE_MANAGER')">
<div th:insert="~{fragments/header :: header}"></div>
<form action="#" th:action="@{/customer-all/customer-add}" method="POST">
  <div class="container">
    <div class="image-container">
      <img src="https://via.placeholder.com/232x237" alt="Placeholder Image">
    </div>
    <div class="content">
      <div class="header">
        <h1>Create Customer</h1>
      </div>
      <div class="input-container">
        <label for="fullname">Full Name</label>
        <input type="input" id="fullname" name="name" placeholder="Full Name">
      </div>
      <div class="input-container">
        <label for="address">Address</label>
        <input type="input" id="address" name="address" placeholder="Street Name, Building, House No.">
      </div>
      <div class="input-container">
        <label for="phone">Phone</label>
        <input type="input" id="phone" name="phone" placeholder="Phone">
      </div>
      <div class="button-container">
        <button id="submit-button" class="confirm-button" type="submit">Confirm</button>
<!--        <button class="cancel-button" href="#" onclick="location.href = document.referrer; return false;">Cancel</button>-->
      </div>
    </div>
  </div>
</form>


</body>
</html>