<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 1024px; height: 720px; position: relative; background: white">
  <div style="width: 201px; height: 34px; left: 61px; top: 507px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">จำนวนวันเครดิต</div>
  <div style="width: 201px; height: 34px; left: 54px; top: 351px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">เลขที่ใบสั่งซื้อ</div>
  <div style="width: 201px; height: 34px; left: 411px; top: 347px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">วันที่ใบสั่งซื้อ</div>
  <div style="width: 201px; height: 34px; left: 730px; top: 349px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">วันที่กำหนดส่งของ</div>
  <img style="width: 59px; height: 53px; left: 40px; top: 47px; position: absolute" src="https://via.placeholder.com/59x53" />
  <div style="width: 346px; height: 34px; left: 122px; top: 47px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">ข้อมูลทั่วไปทำใบสั่งซื้อ</div>
  <div style="width: 192px; height: 35px; padding-left: 14px; padding-right: 14px; padding-top: 3px; padding-bottom: 3px; left: 432px; top: 664px; position: absolute; background: linear-gradient(180deg, #93FF60 0%, #40F4FF 100%); border-radius: 10px; justify-content: flex-start; align-items: center; display: inline-flex">
    <img style="width: 30px; height: 30px" src="https://via.placeholder.com/30x30" />
    <div style="width: 148px; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">   บันทึกข้อมูล</div>
  </div>
  <div style="width: 201px; height: 34px; left: 730px; top: 501px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">วันที่สิ้นสุด</div>
  <div style="width: 285px; height: 39px; left: 54px; top: 395px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 240px; height: 39px; left: 396px; top: 541px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 285px; height: 39px; left: 54px; top: 542px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 240px; height: 93px; left: 396px; top: 385px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 240px; height: 93px; left: 396px; top: 385px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 91px; height: 62px; left: 425px; top: 394px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">เลือกวัน</div>
  <img style="width: 30px; height: 30px; left: 574px; top: 396px; position: absolute" src="https://via.placeholder.com/30x30" />
  <div style="width: 240px; height: 93px; left: 722px; top: 385px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 240px; height: 93px; left: 722px; top: 385px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 91px; height: 62px; left: 751px; top: 394px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">เลือกวัน</div>
  <img style="width: 30px; height: 30px; left: 916px; top: 396px; position: absolute" src="https://via.placeholder.com/30x30" />
  <div style="width: 240px; height: 93px; left: 722px; top: 541px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 240px; height: 93px; left: 722px; top: 541px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 91px; height: 62px; left: 751px; top: 550px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">เลือกวัน</div>
  <img style="width: 30px; height: 30px; left: 908px; top: 550px; position: absolute" src="https://via.placeholder.com/30x30" />
  <div style="width: 201px; height: 34px; left: 415px; top: 505px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">ต้องการภายใน</div>
  <div style="width: 114px; height: 34px; left: 54px; top: 134px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">ผู้จำหน่าย</div>
  <div style="width: 114px; height: 34px; left: 54px; top: 282px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">ที่อยู่</div>
  <div style="width: 201px; height: 34px; left: 353px; top: 210px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">เบอร์โทร</div>
  <div style="width: 201px; height: 34px; left: 681px; top: 209px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">อีเมล์</div>
  <div style="width: 201px; height: 34px; left: 54px; top: 208px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">ชื่อ</div>
  <div style="width: 345px; height: 39px; left: 155px; top: 129px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 213px; height: 39px; left: 111px; top: 201px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 213px; height: 39px; left: 437px; top: 203px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 213px; height: 39px; left: 750px; top: 200px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 378px; height: 39px; left: 111px; top: 274px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <div style="width: 114px; height: 34px; left: 530px; top: 282px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">หมายเหตุ</div>
  <div style="width: 332px; height: 39px; left: 631px; top: 274px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
  <img style="width: 21px; height: 21px; left: 468px; top: 138px; position: absolute" src="https://via.placeholder.com/21x21" />
  <img style="width: 35px; height: 35px; left: 963px; top: 667px; position: absolute" src="https://via.placeholder.com/35x35" />
</div>

</body>
</html>