<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Mitniyompan-shop Application</title>
    <link th:rel="stylesheet" th:href="@{/css/home.css}">
    <link th:rel="stylesheet" th:href="@{/css/product.css}">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>
<h1>รายการสินค้า</h1>
<div id="success" class="alert alert-success"
     th:if="${success}">
    สินค้าอยู่บนตะกร้าแล้ว
</div>
<div id="error" class="alert alert-danger"
     th:if="${error}" th:text="${error}">
</div>
<div class="product-container">
    <div th:each="product : ${products}">
        <div class="product-card">
            <img class="product-image" id="product-main" th:src="@{'data:image/png;base64,' + ${product.image}}" th:alt="${product.name}" alt="Product Image">
            <!-- Adjust the width and height values as needed -->
            <h3 th:text="${product.name}"></h3>
            <p>ราคา: ฿<span th:text="${product.price}"></span></p>
            <p>หมวดหมู่: <span th:text="${product.category.name}"></span></p>

            <td style="text-align: center">
                <a class="btn btn-primary"
                   th:href="@{/main/{id}(id=${product.id})}">View</a>
            </td>
        </div>
    </div>
</div>



</body>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/main}]]";
    }
</script>
</html>
