<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/info.css}">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

    <div class="back">
        <a class="button" th:href=""><img th:src="@{/png/back.png}" width="25" height="25" class="pic">ย้อนกลับ</a>
    </div>
    <div class="header-title">
        <p>เปลี่ยนรหัสผ่าน</p>
    </div>
    <div class="box">
        <div class="box-title">
            <img src="png/infoprofile.png" width="248" height="248">
        </div>
    <div class="container">
        <form action="login.php" method="post">
            <div class="info">
                <label class="label">Name : </label>

                <input type="text" id="old" class="infoinput" placeholder="Old Password" required>

                <input type="text" id="new" class="infoinput" placeholder="New Password" required>

                <input type="text" id="confirm" class="infoinput" placeholder="Confirm Password" required>
    </div>
        <div class="back">
            <button class="button-no"><img src="png/no.png" width="20" height="20" class="pic">ยกเลิก</button>
            <button class="button-yes"><img src="png/yes.png" width="20" height="20" class="pic">ยืนยัน</button>
        </div>
    </div>
    
</body>
</html>
