
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Midniyompan-shop Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>


<div class="container w-50 p-3">
    <h1 class="display-6">ประวัติใบเสร็จ</h1>


    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr style="text-align: center; vertical-align: top; " class="table-secondary">
            <th>เลขที่ใบเสร็จ</th>
            <th>ชื่อผู้ขาย</th>
            <th>ชืื่อผู้ซื้อ</th>
            <th>ยอดเงินรวม</th>
            <th>วันที่-เวลา</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${receipts ne null}" th:each="receipt : ${receipts}" >
            <td th:text="${receipt.id}"></td>
            <td th:text="${receipt.formPO.managerName}"></td>
            <td th:text="${receipt.formPO.customer.name}"></td>
            <td style="text-align: right" th:text="${#numbers.formatDecimal(receipt.formPO.purchaseOrder.getTotal(), 1, 'COMMA', 2, 'POINT')}"></td>
            <td style="text-align: right" th:text="${#temporals.format(receipt.timestamp, 'dd/MM/yyyy HH:mm')}"></td>
            <td style="text-align: center">
                <a th:href="@{/receipt/{id}(id=${receipt.id})}" class="btn btn-primary" >View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>



